* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f2f2;
  height: 100vh;
}

:root {
  --bg-color-light: #ccc6c6;
  --bg-color-dark: #d8d0d0;
  --text-color-light: #fff;
  --text-color-dark: rgb(52, 50, 50);
  --brand-color: rgb(239, 119, 33);
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 6vw;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  background-color: hsl(0, 0%, 95%, 0.9);
}

#brand-icon {
  font-size: 2.5rem;
  font-weight: bolder;
  color: var(--brand-color);
  letter-spacing: 1px;
}

.nav-items {
  display: flex;
  justify-content: space-around;
  width: 25vw;
  font-size: 1.4rem;
  color: var(--text-color-dark);
}
.nav-items:hover {
  cursor: pointer;
}

.icon {
  font-size: 1.2rem;
}

#wishlist-items {
  font-size: 0.9rem;
  font-weight: bold;
  padding: 1px;
}

.container {
  margin-top: 20vh;
}
.search-box {
  border: 1px solid black;
  border-radius: 50px;
  border: 1px solid grey;

  width: fit-content;
  margin: auto;
}
.search-bar {
  width: 30vw;
  padding: 1.1rem 1.5rem;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background: transparent;
  text-decoration: none;
}
.search-icon {
  font-size: 2rem;
  color: grey;
  margin-right: 1rem;
}
.search-icon:hover {
  transform: scale(1.1);
}

.cards_container {
  margin-top: 5vh;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.cards_container#fav {
  margin: 15vh 0 10vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  border: 2px solid var(--brand-color);
  background-color: #f7f2f2;
  position: relative;
  border-radius: 15px;
  margin: 5vh 1vw 0 1vw;
  box-shadow: 0px 0px 5px 3px var(--bg-color-light);
  text-align: center;
  width: 18vw;
}
#fav_btn {
  font-size: 1.5rem;
  transition: 0.5s;
  background: transparent;
  border: none;
}
#fav_btn:hover {
  transform: scale(1.2);
  cursor: pointer;
}
.meal_image {
  width: 100%;
  height: 30vh;
  border-radius: 15px 15px 0 0;
  background-position: center;
}
.meal_name {
  width: 20vw;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 0.8rem auto;
  color: var(--text-color-dark);
  text-align: center;
}

#content {
  display: flex;
  justify-content: space-between;
  margin: auto 5%;
}
#read-more-btn {
  margin-bottom: 1rem;
  font-size: 1.1rem;
  padding: 0.4rem 0.7rem;
  border-radius: 20px;
  background-image: linear-gradient(
    90deg,
    rgb(248, 166, 13),
    rgb(231, 101, 101)
  );
  border: 2px solid transparent;
  outline: none;
}
#read-more-btn:hover {
  border: 2px solid var(--brand-color);
  background-color: transparent;
  background-image: none;
  cursor: pointer;
}

a {
  color: var(--text-color-dark);
  text-decoration: none;
}

#meal-detail {
  border: 1px solid black;
  border-radius: 20px;
  width: 90vw;
  margin: 2vh auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}
#first-block {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 3rem;
}
#second-block {
  align-items: center;
}
#video-btn {
  background-color: var(--brand-color);
}

#meal-detail-img {
  margin: 0.5% 0;
  height: 25vw;
  width: 25vw;
  border-radius: 50%;
}

#meal-txt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#meal-detail h1 {
  font-size: 5rem;
}

#meal-detail p {
  font-size: 1.3rem;
  text-align: start;
}

/* media queries */

@media screen and (max-width: 900px) {
  .search-bar {
    width: 50vw;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
  }
  .search-icon {
    font-size: 1.5rem;
  }
  .card {
    width: 35vw;
  }
  .nav-items {
    font-size: 1.1rem;
    width: 30vw;
  }

  #meal-detail h1 {
    font-size: 4rem;
  }
}
@media screen and (max-width: 700px) {
  .nav-items {
    font-size: 1rem;
    width: 40vw;
  }

  .search-bar {
    width: 60vw;
    padding: 0.8rem 1.2rem;
    font-size: 1.2rem;
  }
  .search-icon {
    font-size: 1.5rem;
  }
  .cards_container {
    justify-content: center;
  }
  .card {
    width: 65vw;
  }

  #meal-detail h1 {
    font-size: 3rem;
  }
}
